$color: rgba(255, 40, 40, 0.897);
*{
background-color: black;
}

header{
    background-color: $color;
    nav{
        text-align: center;
        display: flex;
        justify-content: space-around;
        font-size: 25px;
        background-color: $color;
        
        a{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: white;
            background-color: $color;
        }
    }
}

main{
    width: 1350px;
    height: 500px;
    color: white;
    text-align: center;
    background-color: $color;
    img{
        width: 1000px;
        height: 400px;
        
    }
    h1{
        color: $color;
    }
}